---
title: "Deep learning Project : Face recognition and verification"
date: 2019-03-03
tags: [machine learning, deep learning, data science, neuron network, sudoku, Image analysis, Sequential Model]
header:
  image: "/images/sudoku_ex2.png"
excerpt: "Machine Learning, Transfer learning, VGG, Data Science, python"
mathjax: "true"
---
Face Verification with Anchor images embedded


            **WIP**



            ## 1. Read the image and format the image as array with openCV library
            ```python
              import numpy as np

              def test_func(x,y):
                return np.sum(x,y)
            ```

            ## 2. Read the image and format the image as array with openCV library

            ### H3 Heading

            Here's some basic text.

            And here's some *italics*

            Here's some **bold** texts.

            What about a [link](https://github.com/erenat77)

            Here's a bulleted list:
            * First
            + seconds
            - Third

            Here is numbered list
            1. First
            2. second
            3. Third

            Python code block:
            ```python
              import numpy as np

              def test_func(x,y):
                return np.sum(x,y)
            ```

            Here is some inline code `x+y`.
