---
title: "Machine Learning: Reliable Customer Algorithm"
date: 2019-10-05
tags: [machine learning, data science, KNN, SVC, RandomForest,XGBoost]
excerpt: "Machine Learning, sklearn, exploratory analysis, data cleaning ,Data Science, python"
mathjax: "true"
---
Loan Verification Cycle

**Problem Definition** :

# Work in progress

[reliable_customer_algorithm_github_code](https://github.com/erenat77/reliable_customer_algorithm)
