---
title: "Deep learning Project : Face recognition and verification"
date: 2019-03-03
tags: [machine learning, deep learning, data science, neuron network, sudoku, Image analysis, Sequential Model]
header:
  image: "/images/sudoku_ex2.png"
excerpt: "Machine Learning, Transfer learning, VGG, Data Science, python"
mathjax: "true"
---
Face Verification with Anchor images embedded


            **WIP**
